---
interface Props {
  title: string;
  description?: string;
}

const {
  title = "Designo Agency Website",
  description = "Designo Agency Website",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/src/assets/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts "Jost"-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="font-Jost m-0 box-border max-h-screen max-w-screen-xl text-pretty p-0 text-inherit antialiased"
  >
    <slot />
  </body>
</html>
/
